/* עיצוב לדף "צור קשר" */
.contact {
    text-align: center;
    margin: 50px 0;
}

.contact h1 {
    font-size: 2em;
    margin-bottom: 30px;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.contact label {
    margin: 10px 0 5px;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #45a049;
}
